@import "grid";
@import "funciones";
@import "varibles";




*{
    margin: 0;
}
.nav{
    background: $beige;
    text-align: center;
    height: 100px;
    
    &__li{
       @include marginTop(40px);
        display: inline-block;
        list-style: none;
        color:$gris;
        
        margin-left: 1%;
        &:hover
        {
            color: $azul;
            text-decoration: line-through;
            text-decoration-color: $azul;
        }
    }
}

.fotos{
     @include marginTop(20px);
    display: flex;
    flex-direction: row;
    &__panda{
        &--opacidad{
            &:hover{
                opacity: 0.5;
            }
        }
    }
       
}
.botones{
    @include marginTop(20px);
    text-align: center;
    &__btn{
        background-color: $azul;
        color: $beige;
        &--activo{
            &:hover{
                background-color: $beige;
                color: &azul;
            }
        }
    }
}

.texto{
    &__parrafo{
        @include marginTop(20px);
        padding: 20px;
    }
}